*{
    margin: 0;
    padding:0;
}

.bg-index {
    background-color: #0F5EBC;
    height: 100%;
}

.bg-bar {
    background-color: #FFF;
    z-index: 1;
}

.datum {
    float: right;
    padding-top: 8px;
    padding-right: 20px;
}


/* ---------- Contact menu ---------- */

.img-hans {
    max-width: 30%;
    height: auto;
    margin-top: 100px;
    margin-bottom: 50px;
}

.img-ernest {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-top: 100px;
    /* margin-bottom: 50px; */ 
}

.img-gerrit {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-top: 100px;
    /* margin-bottom: 50px; */
}

.img-greet {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-top: 100px;
    /* margin-bottom: 50px; */ 
}


.img-group {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-top: 40px;
    /* margin-bottom: 50px; */ 
}

.p-title-group-menu {
    margin-top: 30px;
    /* padding: 20px 50px 0; */
    }
    

/* ---------- Index page ---------- */
.btn-start-index {
    margin-bottom: 50px;
}

.p-title-menu {
    padding: 20px 50px 0;
}


/* ---------- Oproep menu Ernest ---------- */

.p-loading-menu {
    margin-top: 60px;
    padding: 20px 50px 0;
}

.img-ernest1 {
    max-width: 30%;
    height: auto;
    margin-top: 100px;
    margin-bottom: 50px;
}


/* ---------- Oproep menu Gerrit ---------- */

.img-gerrit1 {
    max-width: 30%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 20px;
}


/* ---------- Oproep menu Greet ---------- */

.img-greet1 {
    max-width: 30%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 20px;
}

/* ---------- Datum ----------- */
.datetime .date,
.datetime .day {
  margin-bottom: 15px
}

.datetime .day {
  font-size: 28px;
  -webkit-animation-duration: .2s;
  animation-duration: .2s
}

.datetime .date {
  -webkit-animation-duration: .35s;
  animation-duration: .35s
}


/* ------------ Loading... ---------- */

.loader > img {
    width: 100%;
}

.loader.hidden {
    animation: fadeOut 5s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}