*{
    margin: 0;
    padding:0;
}

.bg-index {
    background-color: #0F5EBC;
    height: 100%;
}

.bg-bar {
    background-color: #FFF;
    z-index: 1;
}

.datum {
    float: right;
    padding-top: 8px;
    padding-right: 20px;
}

.img-hans {
    max-width: 30%;
    height: auto;
    margin-top: 100px;
    margin-bottom: 50px;
}

.img-ernest {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-top: 100px;
    /* margin-bottom: 50px; */ 
}

.img-gerrit {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-top: 100px;
    /* margin-bottom: 50px; */
}

.img-greet {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-top: 100px;
    /* margin-bottom: 50px; */ 
}


.img-group {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-top: 40px;
    /* margin-bottom: 50px; */ 
}

.btn-start-index {
    margin-bottom: 50px;
}

.p-title-menu {
    padding: 20px 50px 0;
}

.p-title-group-menu {
    margin-top: 30px;
    /* padding: 20px 50px 0; */
}

.p-loading-menu {
    margin-top: 60px;
    padding: 20px 50px 0;
}